
<form >
        ProductId:<br>
        <input #inputid type="text" name="id"  ><br>
        Product Name:<br>
        <input #inputpn type="text" name="firstname"  ><br>
        Product Description:<br>
        <input #inputpd type="text" name="firstname"  ><br>
        Product Rate:<br>
        <input #inputr type="text" name="firstname"  ><br>
        Group Id:<br>
        <input #inputgid type="text" name="firstname"  ><br>
        <br><br>
        
        <button (click)='updatenames(inputid.value,inputpn.value,inputpd.value,inputr.value,inputgid.value)' >Update</button>
      </form>
    