

  
  

  <table class='table' *ngIf="student">
    <thead>
        <tr>
            <th>Id</th>
            <th>GroupName</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let students of student">
            <td>{{ students.id }}</td>
            <td>{{ students.groupName }}</td>
            
            <button (click)='deletename(students.id)'  >Delete</button>    
            <button [routerLink]="['./updateform']"  >     Update</button>
            </tr>
    </tbody>
</table>
<br><br>

<button [routerLink]="['./addgroupform']" >Add Groups</button>

<router-outlet></router-outlet>


